<div class="occupy">
<div class="jumbotron container" style="background-color: white;" >
        <h1 style="color: #2081C3">CapStore</h1> 
        <img src="favicon.ico" height="100px" width="100px" align="right" style="margin-top: -7%">
      </div>
<div class="container col-md-4" style="background-color: #EAF3F9;margin-top: -3%;padding-top: 5%;padding-bottom: 5%;border-radius: 50px 20px;">
<form class="container col-md-8" [formGroup]="resetpassword" (ngSubmit)="onSubmit()">
<p *ngIf="message" class="alert alert-success">{{message}}</p>
<p *ngIf="message1" class="alert alert-danger">{{message1}}</p>
<h3 style="color: #2081C3">Change Password</h3>
<div class="form-group">
<label for="npassword"><b>New Password</b></label>
<input class="form-control" name="npassword" type="password" formControlName="npassword">
<div *ngIf="npassword.invalid && (npassword.dirty || npassword.touched)"
    style="color:red">
<div *ngIf="npassword.errors.required">
    *Password is required.
  </div>
  <div *ngIf="npassword.errors.minlength">
    *Password must be at least 6 characters long.
  </div>
</div>
</div>
<div class="form-group">
<label for="cpassword"><b>Confirm Password</b></label>
<input class="form-control" name="cpassword" type="password" formControlName="cpassword">
<div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)"
    style="color:red">
<div *ngIf="cpassword.errors.required">
    *Password is required and should match the new password.
  </div>
  <div *ngIf="cpassword.errors.minlength">
    *Password must be at least 6 characters long.
  </div>
</div>
</div>
<div class="form-group">
  <label for="submit"> 
      <button type="submit" name="changepassword" class="container btn btn-danger" style="width: 100%;" [disabled]="!resetpassword.valid">Change Password</button>
  </label>
</div>
</form>
</div>
</div>