<div class="occupy">
<div class="jumbotron container" style="background-color: white;" >
        <h1 style="color: #2081C3">CapStore</h1> 
        <img src="favicon.ico" height="100px" width="100px" align="right" style="margin-top: -7%">
      </div>
<div class="container col-md-4" style="background-color: #EAF3F9;margin-top: -5%;padding-top: 4%;padding-bottom: 3%;border-radius: 50px 20px;">
<form class="container col-md-8" [formGroup]="signupForm" (ngSubmit)="signUp()">
<p *ngIf="message" class="alert alert-success">{{message}}</p>
<p *ngIf="message1" class="alert alert-danger">{{message1}}</p>
<h3 style="color: #2081C3">Register</h3>
<div class="form-group">
<label for="name"><b>Name</b></label>
<input class="form-control" name="name" type="text" formControlName="name">
<div *ngIf="name.invalid && (name.dirty || name.touched)"
    style="color:red">
<div *ngIf="name.errors.required">
    *Name is required.
  </div>
  <div *ngIf="name.errors.minLength">
    *Name must be atleast 4 characters long.
  </div>
</div>
</div>
<div class="form-group">
<label for="email"><b>Email</b></label>
<input class="form-control" name="signupemail" type="text" formControlName="email">
<div *ngIf="email.invalid && (email.dirty || email.touched)"
    style="color:red">
<div *ngIf="email.errors.required">
    *Email is required.
  </div>
  <div *ngIf="email.errors.email">
    *Enter proper email id.
  </div>
</div>
</div>
<div class="form-group">
<label for="password"><b>Password</b></label>
<input class="form-control" name="pwd" type="password" formControlName="password">
<div *ngIf="password.invalid && (password.dirty || password.touched)"
    style="color:red">
<div *ngIf="password.errors.required">
    *Password is required.
  </div>
  <div *ngIf="password.errors.minlength">
    *Password must be at least 6 characters long.
  </div>
</div>
</div>
<div class="form-group">
<label for="phoneNumber"><b>Phone Number</b></label>
<input class="form-control" name="phonenumber" type="number" formControlName="phoneNumber">
<div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
    style="color:red">
<div *ngIf="phoneNumber.errors.required">
    *Phone number is required.
  </div>
  <div *ngIf="phoneNumber.errors.maxLength">
    *Phone number must have 10 digits.
  </div>
</div>
</div>
<div class="form-group">
Need Merchant account? &nbsp; <input type="checkbox" formControlName="role" value="m">
</div>
<div class="form-group">
<label for="address"><b>Address</b></label>
<textarea rows="3" cols="37" name="address" formControlName="address"></textarea>
<div *ngIf="address.invalid && (address.dirty || address.touched)"
    style="color:red">
<div *ngIf="address.errors.required">
    *Address is required.
  </div>
</div>
</div>
<div class="container col-md-8">
<button class="container btn btn-primary" id="submit" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
</div>
</form>
</div>
</div>