<div class="occupy">
<div class="jumbotron container" style="background-color: white;" >
        <h1 style="color: #2081C3">CapStore</h1> 
        <img src="favicon.ico" height="100px" width="100px" align="right" style="margin-top: -7%">
      </div>
<div class="container col-md-4" style="background-color: #EAF3F9;margin-top: -5%;padding-top: 2%;padding-bottom: 2%;border-radius: 50px 20px;">
<form class="container col-md-8" [formGroup]="forgotpassword" (ngSubmit)="onSubmit()">
<h3 style="color: #2081C3" >Forgot Password</h3>
<p *ngIf="message" class="alert alert-success">{{message}}</p>
<p *ngIf="message1" class="alert alert-danger">{{message1}}</p>
<div><p>Enter the email address associated with your CapStore account.</p></div>
<div class="form-group">
<label for="email"><b>Email</b></label>
<input class="form-control" name="forgotemail" type="text" formControlName="email">
<div *ngIf="email.invalid && (email.dirty || email.touched)"
    style="color:red">
<div *ngIf="email.errors.required">
    *Email is required.
  </div>
  <div *ngIf="email.errors.email">
    *Enter proper email id.
  </div>
</div>
</div>
<div class="form-group">
  <label for="submit"> 
      <button type="submit" class="container btn btn-primary" name="forgotpassword" style="width: 100%;" [disabled]="!forgotpassword.valid">Submit</button>
    <!--<input type="submit" value="submit">-->
    <p>Has your email address or mobile phone number changed?</p>
    <p>If you no longer use the e-mail address associated with your CapStore account, you may contact Customer Service for help restoring access to your account.</p>
  </label>
</div>

</form>
</div>
</div>